<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" monitorInterval="60">

    <Properties>
        <Property name="appname">skiea-DDEEMMOO</Property>
        <Property name="LOG_PATTERN">%d %-5p %m%n</Property>
    </Properties>

    <Appenders>

        <!-- coreapp File Appender -->
        <RollingFile name="FileAppender" fileName="/imn_data/file/logs/${appname}/${appname}.log"
                     filePattern="/imn_data/file/logs/${appname}/${appname}.log.%i">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="250MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <!--        <RollingFile name="statapp" fileName="/imn_data/logs/stat/${appname}/stat.log"-->
        <!--                     filePattern="/imn_data/logs/stat/${appname}/stat.log.%i">-->
        <!--            <PatternLayout pattern=""/>&lt;!&ndash; <PatternLayout pattern="%m%n" /> &ndash;&gt;-->
        <!--            <Policies>&lt;!&ndash; MB &ndash;&gt;-->
        <!--                <SizeBasedTriggeringPolicy size="250 MB"/>-->
        <!--            </Policies>-->
        <!--            <DefaultRolloverStrategy max="20"/>-->
        <!--        </RollingFile>-->

        <!--        <RollingFile name="monitorapp" fileName="/imn_data/logs/monitor/${appname}/mon.log"-->
        <!--                     filePattern="/imn_data/logs/monitor/${appname}/mon.log.%i">-->
        <!--            <PatternLayout pattern="%d %-5p %m%n"/>&lt;!&ndash; <PatternLayout pattern="%m%n" /> &ndash;&gt;-->
        <!--            <Policies>&lt;!&ndash; MB &ndash;&gt;-->
        <!--                <SizeBasedTriggeringPolicy size="250 MB"/>-->
        <!--            </Policies>-->
        <!--            <DefaultRolloverStrategy max="20"/>-->
        <!--        </RollingFile>-->

        <RollingFile name="Default" fileName="/imn_data/file/logs/${appname}/imn.log"
                     filePattern="/imn_data/file/logs/${appname}/imn.log.%i">
            <PatternLayout pattern="%d %-5p %m%n"/>
            <Policies><!-- MB -->
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Default"/>
        </Root>


        <!--        <Logger name="${appname}" level="debug" additivity="false">-->
        <!--            <AppenderRef ref="coreapp"/>-->
        <!--        </Logger>-->

        <!--        <Logger name="stat" level="debug" additivity="false">-->
        <!--            <AppenderRef ref="statapp"/>-->
        <!--        </Logger>-->
        <!--        -->
        <!--        <Logger name="monitor" level="debug" additivity="false">-->
        <!--            <AppenderRef ref="monitorapp"/>-->
        <!--        </Logger>-->

    </Loggers>

</Configuration>